<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>
  <targets>

    <target xsi:type="Mongo"
        name="logfile"
        connectionString="${environment:LOG_MONGODB}"
        collectionName="geral">
      <field name="system" layout="$ext_safeprojectname$" />
      <field name="level" layout="${level}"/>
      <field name="message" layout="${message}" />
      <field name="logger" layout="${logger}"/>
      <field name="exception" layout="${exception:format=tostring}" />
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
